.mw-840{ max-width: 840px !important;}
.align-self-center{ align-self: center;}
.height-webkit-fill{ height: -webkit-fill-available;}
.text-9px{ font-size: 9px;}
.text-14px{ font-size: 14px;}
.mr-15{ margin-right: 15px;}
.float-right{ float: right;}